<md-input-container>
    <label>Num1</label>
    <input type="number" ng-model="num1" ng-change="computeSum()">
</md-input-container>
<md-input-container>
    <label>Num2</label>
    <input type="number" ng-model="num2" ng-change="computeSum()">
</md-input-container>
<md-input-container>
    <label>Num3</label>
    <input type="number" ng-model="num3" ng-change="computeSum()">
</md-input-container>
<md-input-container>
    <label>Sum</label>
    <input type="number" ng-model="sum" ng-change="sumChange()">
</md-input-container>
